In [1]:
import sqlite3

In [11]:
conn = sqlite3.connect('student.db')
conn

In [14]:
sql = """
CREATE TABLE student
 (
 name text,
 no integer,
 addr text,
 gender text
 )
"""
c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student")
c.execute(sql)
c.close()

In [18]:
sql = """
INSERT INTO student VALUES
 ('학생1', 1, "서울 강남구 일원동", 'male')
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [19]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('학생1', 1, '서울 강남구 일원동', 'male')

In [25]:
sql = """
INSERT INTO student VALUES
 (?, ?, ?, ?)
"""
c = conn.cursor() # 객체 생성
c.execute(sql,(('학생2', 2, "부산", 'female')))

data = [
    ('학생3', 3, "대구", 'female'),
    ('학생4', 4, "대전", 'female'),
    ('학생5', 5, "울산", 'male')
    
]

c.executemany(sql, data)
c.close()
conn.commit()

In [33]:
conn = sqlite3.connect('student1.db')
conn

In [34]:
sql = """
 CREATE TABLE student1
 ( 
 name text,
 korean integer,
 math integer,
 english integer
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student1")
c.execute(sql)
c.close()

In [37]:
sql = """
INSERT INTO student1 VALUES
 ('토토', 90, 100, 85)
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [38]:
sql = 'select * from student1'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('토토', 90, 100, 85)